.about {
  padding-bottom: 7rem;
  line-height: 22px;
}

p {
  min-width: 10vw;
}

.grid_base {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 2rem;
  row-gap: 2rem;
  column-gap: 9rem;
}

.sub_c {
  padding-top: 2.6rem;
}

.container {
  padding-left: 44rem;
}

.width_change {
  min-width: 6.8vw;
}
