* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html,
body {
  font-family: Helvetica;
}

.archive {
  background-color: #fff;
  font-family: "Helvetica Neue";
  max-height: 100vh;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  color: #000;

  font-style: normal;
  font-weight: 400;
  line-height: 109.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  text-decoration: none;
  padding: 2rem;
  padding-bottom: 3.5rem;
}

.archive_links {
  padding: 2rem;
  padding-top: 10rem;
}

.indv_link {
  display: flex;
  justify-content: last baseline;
  flex-wrap: wrap;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.indv_link_first {
  border-top: 1.5px solid rgba(0, 0, 0, 0.1);
}

.link_text_first {
  min-width: 20vw;
}

.link_text {
  padding-left: 4rem;
}

.footer {
  font-family: "Helvetica Neue";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  padding-top: 4rem;
}
