.archive_links_fixed {
  position: fixed;
  top: 18rem;
  left: 2rem;
}

.arch_content {
  padding-left: 43rem;
  padding-top: 4rem;
  padding-right: 4rem;
}

.header_text {
  padding-bottom: 2rem;
}

.split_space_imgs {
  display: flex;
}

.img_1 {
  max-width: 491px;
}

.img_2 {
  max-width: 360px;
}

.img_3 {
  max-width: 360px;
}

.img_4 {
  max-width: 720px;
}

.img_5 {
  max-width: 491px;
}

.img_6 {
  max-width: 360px;
}

.img_7 {
  max-width: 360px;
}

.img_8 {
  max-width: 360px;
}

.img_9 {
  max-width: 720px;
}

.img_10 {
  max-width: 720px;
}

.img_14 {
  max-width: 483px;
}

.img_11 {
  max-width: 260px;
}

.img_12 {
  max-width: 260px;
}

.img_13 {
  max-width: 260px;
}

.img_collumn {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.description {
  line-height: 22px;
}

.header_text {
  line-height: 22px;
}
