.archive {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.archive_links {
  padding: 2rem;
  padding-top: 10rem;
}

.indv_link {
  display: flex;
  justify-content: last baseline;
  flex-wrap: wrap;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.indv_link_first {
  border-top: 1.5px solid rgba(0, 0, 0, 0.1);
}

.link_text_first {
  min-width: 20vw;
}

.link_text {
  padding-left: 4rem;
}
