.home {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5rem;
}

img {
  padding-top: 1.5rem;
}
