.home {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 7.7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

img {
  padding-top: 1.5rem;
}

.extra_nudge {
  margin-right: -3.2rem;
}

.about_nudge {
  margin-right: -2.1rem;
}
