.home {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 10vh;
  left: 2vw;
}

.img_home {
  max-width: 95vw;
}
img {
  padding-top: 1.5rem;
}

.extra_nudge {
  margin-right: -3.2rem;
}

.about_nudge {
  margin-right: -2.1rem;
}
