* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html,
body {
  font-family: Helvetica;
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 1rem;
  padding-left: 2rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 1rem;
  padding-top: 4rem;
  padding-left: 2rem;
}
